.customBackground {
  background-position-x: center;
  background-image: url("../img/Design\ sans\ titre.png");
  background-repeat: no-repeat;
}

.main {
  margin: 0 20vw;
  border: red solid 1px;
}


.ul {
  display: flex;
  list-style: none;
}